// SPDX-License-Identifier: MIT
// Mall: kopiera till main/secrets.h och fyll i. main/secrets.h är gitignored och
// ska ALDRIG committas. Tomma värden = WiFi/MQTT startas inte (övrig firmware körs ändå).
#pragma once

#define NIMLY_WIFI_SSID ""
#define NIMLY_WIFI_PASS ""

#define NIMLY_MQTT_URI  "mqtt://homeassistant.local:1883"
#define NIMLY_MQTT_USER ""
#define NIMLY_MQTT_PASS ""
